<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/navStyles.css">
    <title>Grocery Inventory</title>
</head>

<body>
    <div id="navbar-container">
        <h1 class="heading">Grocery Inventory</h1>

        <a href="/" class="nav-link">
            <div class="nav-button">View All Items</div>
        </a>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Browse By Category
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <% for (let i=0; i < categories.length; i++) { %>
                            <a href="/<%= categories[i].name %>" class="categories">
                                <%= categories[i].name %>
                            </a>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>

        <a href="/categories" class="nav-link">
            <div class="nav-button">Category Manager</div>
        </a>

    </div>


</body>

</html>